@model List<MahekarusProfile.Models.Apps.App>

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Web Apps</title>
    <link rel="stylesheet" href="~/Content/Apps.css" />

</head>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Web Apps</h1>
            <p>Please try out one of the web apps below to see how they work!</p>
        </div>
    </div>

    <div class="container" id="appContainer">
        <!-- Example row of columns -->
       
        <div class="row" id="app-Group">
            @foreach (MahekarusProfile.Models.Apps.App obj in Model)
            {
                <div class="col-sm-4 col-md-4 apps">
                <h2>@obj.Title</h2>

                <p>@obj.Description</p>
                <img style="height:153px;width:350px" class="img-fluid" src="~/img/@obj.Picture" />
                @{
                    if (obj.GitHubLink != "")
                    {
                        <a href=@obj.GitHubLink target="_blank">github Link</a>
                    }

                    if (obj.Controller != "")
                    {
                        <p>@Html.ActionLink(@obj.DALText, @obj.Action, @obj.Controller, null, new { @class = "btn btn-secondary" })</p>
                    }
                }


                </div>
            }

        </div>

        <hr>
        <script src="~/Scripts/Apps/Apps.js"></script>
    </div> <!-- /container -->

</main>


