@model List<MahekarusProfile.Models.Apps.App>

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Web Apps</title>
    <link rel="stylesheet" href="~/Content/Apps.css" />

</head>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Web Apps</h1>
            <p>Please try out one of the web apps below to see how they work!</p>
        </div>
    </div>

    <div class="container" id="appContainer">
        <!-- Example row of columns -->
       
        <div class="row" id="app-Group">
            @foreach (MahekarusProfile.Models.Apps.App obj in Model)
            {
            <div class="col-sm-4 col-md-4 apps">
                <div class="row">
                    <div class="col-12">
                        <div><h2>@obj.Title</h2></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="height:50px">
                        <div><p>@obj.Description</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div ><img style="height:153px;width:350px" class="img-fluid" src="~/img/@obj.Picture" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @{
                            if (obj.GitHubLink != "Disabled")
                            {
                                <a style="margin:auto;" href=@obj.GitHubLink target="_blank">github Link</a>
                            }
                            else
                            {
                                <a style="margin:auto;" class="disabled">github Link</a>
                            }

                            if (obj.Controller != "")
                            {
                                <p>@Html.ActionLink(@obj.DALText, @obj.Action, @obj.Controller, null, new { @class = "btn btn-secondary" })</p>
                            }
                        }
                    </div>
                </div>
                


            </div>
            }

        </div>

        <hr>
        <script src="~/Scripts/Apps/Apps.js"></script>
    </div> <!-- /container -->

</main>


