<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Profile</title>    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar navbar-fixed-top">
        <a class="navbar-brand" href="#">My Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Apps", "Index", "Apps", null, new { @class = "nav-link" })
                </li>
                @*<li class="nav-item active">
                    @Html.ActionLink("Game", "Index", "GameDatas", null, new { @class = "nav-link" })
                </li>*@
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Profile", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

    <div class="">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
